<style>

	@media only all {
		#{{id}}.{{ imageClass }} {
			background-image: url('{{ craft.imager.transformImage( image, { width: 1900, height: 790 } ).url }}');
		}
	}

	@media (max-width: 1200px) {
		#{{id}}.{{ imageClass }} {
		    background-image: url('{{ craft.imager.transformImage( image, { width: 1200, height: 500 } ).url }}');
		}
	}

	@media (max-width: 800px) {
		#{{id}}.{{ imageClass }} {
		    background-image: url('{{ craft.imager.transformImage( image, { width: 800, height: 600 } ).url }}');
		}
	}

	@media (max-width: 400px) {
		#{{id}}.{{ imageClass }} {
		    background-image: url('{{ craft.imager.transformImage( image, { width: 400, height: 400 } ).url }}');
		}
	}

	#{{id}}.{{ imageClass }} {
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}

</style>

