{% extends "_layouts/cp" %}
{% set title = "Push DB"|t %}


{% set content %}

<p>
	To trigger a database transfer of stage to live, click the button below.
</p>

<a class="btn" href="{{ url() }}/pushdb/push">Push to Live</a>

{% endset %}